html
{
    height:200%;
}

body {
    height:100%;
    font-family:Arial, Helvetica, sans-serif;
}

input[type="text"]
{
    z-index:99;
}

.ui-scene-actor:hover
{
    cursor:pointer;
}

#line {
    height:8px;
    width: 100px;
    position:absolute;
    background-color:black;
}

.floatWindow {
    position: absolute;
    margin: auto;
    width: 200px;
    height: 400px;
    background-color: red;
    text-align: center;
}

.drag
{
    height:24px;
    background-color:yellow;
}

#property-container, #propertyTarget-container
{
    display:block;
    background-color:white;

    position:absolute;

    margin:auto;
    width:200px;
    height:200px;

    text-align:center;
}

.property
{
    background-color:white;

    position:absolute;

    margin:auto;
    width:200px;
    height:100px;

    text-align:center;
}

.right-click-menu
{
    display:none;

    width:200px;
    height:200px;

    margin:auto;
    position:absolute;
    left:50%;
    top:50%;
}

#right-click-menu
{
    
}

#main-container
{
    height:100%;
}

#object-view
{
    top:50%;
    left:20px;
}

#scene-view
{
    top:20px;
    left:20px;
}

#game-view
{
    display:block;
    height:50%;
    background-color:red;
    
    pointer-events:fill;
}

#connection-view
{
    display:block;
    height:50%;
    width:100%;
    background-color:green;
}
